@charset "utf-8";


/*PC・タブレット・スマホ(全端末)共通設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*全体の設定
---------------------------------------------------------------------------*/
body {
	margin: 0px;
	padding: 0px;
	-webkit-text-size-adjust: none;
	color: #999;
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	font-size: 16px;
	line-height: 2;
	background: #fff;
}
h1,h2,h3,h4,h5,p,ul,ol,li,dl,dt,dd,form,figure,form,select,input,textarea {margin: 0px;padding: 0px;font-size: 100%;font-weight: normal;}
ul {list-style-type: none;}
ol {padding-left: 40px;padding-bottom: 15px;}
img {border: none;max-width: 100%;height: auto;vertical-align: middle;}
table {border-collapse:collapse;border-spacing: 0;}
iframe {width: 100%;}

a {
	color: #999;
	transition: 0.3s;
}
a:hover {
	color: #b4ae99;
}

#container {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 3%;
}

header {
	text-align: center;
}
#logo img {
	width: 400px;
	margin: 40px auto 40px;
}

#mainimg img {
	border-radius: 10px;
	margin-bottom: 40px;
}

#destination {
	text-align: center;
	font-size: 18px;
	margin-bottom: 40px;
}

#destination li {
	display: inline;
}
#destination li a {
	text-decoration: none;
	padding: 15px 30px;	
}

#destination li a:hover {
	color: #b4ae99;	
	border-bottom: 4px solid #b4ae99;
}


#contents h2 {
	clear: both;
	margin-bottom: 20px;
	color: #fff;
	padding: 10px 20px;
	background: #b4ae99;
	border-radius: 10px;
}

#contents h3 {
	clear: both;
	margin-bottom: 20px;
	padding: 8px 20px;
	background: #fff;
	border: 1px solid #999;
	border-radius: 10px;
}

#contents p {
	padding: 0px 20px 20px;	
}

#contents p + p {
	margin-top: -5px;
}
#contents h2 + p,
#contents h3 + p {
	margin-top: -10px;
}
#contents section + section {
	margin-top: 30px;
}


.list {
	overflow: hidden;
	border-bottom: 1px solid #999;	
	padding: 20px;	
}

.list h4 {
	color: #b4ae99;	
}

.list img {
	width: 20%;		
	float: left;		
	margin-right: 3%	
}

.list p {
	padding: 0 !important;
}


footer {
	clear: both;
	text-align: center;
	padding: 30px 0px 10px;	
}
footer a {
	text-decoration: none;
	border: none;
}
footer .pr {
	display: block;
}


.ta1 caption {
	border: 1px solid #999;
	border-bottom: none;
	text-align: left;
	background: #eee;
	font-weight: bold;
	padding: 10px;
}

.ta1 th.tamidashi {
	width: auto;
	text-align: left;
	background: #eee;
}
/*ta1テーブルブロック設定*/
.ta1 {
	table-layout: fixed;
	width: 100%;
	margin: 0 auto 20px;
}
.ta1, .ta1 td, .ta1 th {
	word-break: break-all;
	border: 1px solid #999;
	padding: 10px;
}

.ta1 th {
	text-align: center;
	width: 30%;	
}

.newicon {
	background: #F00;
	color: #FFF;
	font-size: 70%;
	line-height: 1.5;
	padding: 2px 5px;
	border-radius: 2px;
	margin: 0px 5px;
	vertical-align: text-top;
}


.look {background: #e5e5e5;padding: 5px 10px;border-radius: 4px;}
.mb15,.mb1em {margin-bottom: 15px;}
.color1 {color: #b4ae99;}
.pr {font-size: 12px;}
.wl {width: 96%;}
.ws {width: 50%;}
.c {text-align: center;}
.r {text-align: right;}
.l {text-align: left;}


/*以下タブレット設定*/
@media screen and (max-width:991px){

    body {
	    font-size: 30px;
	    line-height: 1.5;
    }

    #destination li {
	    display: block;
	    margin-bottom: 10px;
    }
    
    #destination li a {
	    text-decoration: none;
    	padding: 8px 30px;
    }

    .list {
	    padding: 10px;
    }

    .ws,.wl {
        width: 94%;
    }

　　p{
	 font-size: 20px;
    }
	
　　th{
	 font-size: 20px;
    }
	
　　td{
	 font-size: 20px;
    }
	
　　h1{
	 font-size: 40px;
    }
	
　　h2{
	 font-size: 30px;
    }
	
　　h4{
	 font-size: 20px;
    }
}
/*以上タブレット設定*/

/*--  Menu  --*/

body {
  line-height: 1.25;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  width: 90%;
  table-layout: fixed;
}

table tr {
  background-color: #fff;
  padding: .35em;
  font-size: 16px;
}
table tr:last-child{
   border-bottom: 1px dotted #fff;
}
table th{
    text-align: left;
}
table th,table td {
  padding: 1em 10px 1em 1em;
}

.txt{
   text-align: left;
   font-size: .85em;
}
.price{
   text-align: right;
}
.right {
    text-align: right;
}

/*
@media screen and (max-width: 600px) {
  table {
    border: 0;
    width:100%
  }
    
  table th{
    display: block;
    border-right: none;
    border-bottom: 2px solid #fff;
    padding-bottom: .6em;
    margin-bottom: .6em;
  }
    
  table thead {
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    display: block;
    margin-bottom: 2em;
  }
  
  table td {
    border-bottom: 1px solid #bbb;
    display: block;
    font-size: .8em;
    text-align: right;
    position: relative;
    padding: .625em .625em .625em 4em;
  }
  
  table td::before {
    content: attr(data-label);
    font-weight: bold;
    position: absolute;
    left: 10px;
  }
  
  table td:last-child {
  }
}
*/

/*--  Home  --*/
#topimag {
    width: 75%;
    margin: 0 auto; 
}

.messageboard {
    width:75%;
	height:auto;
	background-color:#fffff0;
	padding:20px 40px 10px 30px;
    margin: 0 auto;
	border:1px bottom #ffffe0;
}

.welcome {
    font-size: xx-large;
    text-align: center;
}

.massage {
    font-size: medium;
    text-align: center;
}


/*--  Honey  --*/
ul.twoflex { 
    margin: 0; 
    padding: 0; 
    display: -webkit-flex; 
    display: flex;
    -webkit-flex-direction: row; 
    flex-direction: row; 
    -webkit-align-items: stretch; 
    align-items: stretch; 
    -webkit-justify-content: flex-start; 
    justify-content: flex-start; 
    flex-wrap: wrap;
}

ul.twoflex li { 
    width: 50%; 
    margin: 0; 
    padding: 0;
}

ul.twoflex a.card p.text {
	padding-top: 0;
	font-size: 1rem;
	line-height: 1.75;
}

ul.twoflex li {
	width: 100%;
}

ul.twoflex a.card p.title {
	padding-top: 6px;
}

ul.twoflex a.card p.title {
	padding-top:0;
	padding-bottom: 6px;
	font-size: 1.25rem;
	line-height: 1.5;
	font-weight: bold;
}


/*--  Access  --*/
/*GoogleMap*/
.ggmap {
position: relative;
padding-bottom: 10%;
padding-top: 2px;
height: 0;
overflow: hidden;
}
 
.ggmap iframe,
.ggmap object,
.ggmap embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.left {
    text-align: left;
}

#mapimg {
    width: 70%;
    margin: 0 auto;
}
.accessmassage{
    text-align: left;
    font-size: medium;
}




--  outer  --
div.outer { max-width: 960px; margin: 0 auto; padding: 24px; }
div.outer { padding: 12px 6px; }
footer div.outer { padding: 8px 6px; }


/*--  inner  --*/
div.inner { margin: 0; padding: 24px; }
div.inner { padding: 12px 6px; }
footer div.inner { padding: 8px 6px; }


/*--  item  --*/


/*--  card  --*/
ul.twoflex a.card p.title { padding-top: 0; padding-bottom: 6px; font-size: 1.25rem; line-height: 1.5; font-weight: bold; }
ul.twoflex a.card p.text { padding-top: 0; font-size: 1rem; line-height: 1.75; }
ul.threeflex a.card p.info { padding-top: 0; padding-bottom: 0; font-size: 0.8rem; line-height: 1.5; white-space: nowrap; }
ul.threeflex a.card p.title { padding-top: 6px; font-size: 1.1rem; line-height: 1.25; }
ul.fourflex a.card p.info { padding-top: 0; padding-bottom: 0; font-size: 0.8rem; line-height: 1.5; white-space: nowrap; }
ul.fourflex a.card p.title { padding-top: 6px; font-size: 1.1rem; line-height: 1.25; }
a.card { margin: 0; padding: 0; color: #333; display: block; }
a.card:visited { color: #333; }
a.card:hover { color: #333; }
ul.twoflex a.card p.title { padding-top: 6px; }
ul.fourflex a.card p.title { padding-top: 3px; font-size: 1rem; }

/*--  article  --*/
article { margin: 0; padding: 0; }
article div.cover { margin: 0; padding: 0; }
article nav { margin: 0; padding: 0; background-color: #eee; }
article nav ul { margin: 0; padding: 0; display: -webkit-flex; display: flex; -webkit-flex-direction: row; flex-direction: row; -webkit-align-items: stretch; align-items: stretch; -webkit-justify-content: center; justify-content: center; -webkit-flex-wrap: wrap; flex-wrap: wrap; }
article nav li { margin: 0; padding: 0; text-align: center; white-space: nowrap; }
article nav a { margin: 0; padding: 24px 12px 20px 12px; color: #333; font-size: 1rem; line-height: 1; font-weight: bold; border-bottom: 4px solid #eee; display: block; }
article nav a:visited { color: #333; }
article nav a:hover { border-bottom: 4px solid #fc0; }
article nav { display: none; }




/* settings */
* { margin: 0; padding: 0; }


/* fluid-img */
img { width: 100%; height: auto; vertical-align: bottom; -ms-interpolation-mode: bicubic; }

/* html */
html { font-size: 14px; line-height: 0; }




/* article */
article { margin: 0; padding: 0; }
article div.cover { margin: 0; padding: 0; }
article nav { margin: 0; padding: 0; background-color: #eee; }
article nav ul { margin: 0; padding: 0; display: -webkit-flex; display: flex; -webkit-flex-direction: row; flex-direction: row; -webkit-align-items: stretch; align-items: stretch; -webkit-justify-content: center; justify-content: center; -webkit-flex-wrap: wrap; flex-wrap: wrap; }
article nav li { margin: 0; padding: 0; text-align: center; white-space: nowrap; }
article nav a { margin: 0; padding: 24px 12px 20px 12px; color: #333; font-size: 1rem; line-height: 1; font-weight: bold; border-bottom: 4px solid #eee; display: block; }
article nav a:visited { color: #333; }
article nav a:hover { border-bottom: 4px solid #fc0; }

/* section */
section { margin: 0; padding: 0; background-color: #fff; }
section:first-child { border-top: none; }

/* wrapper */
div.outer { max-width: 960px; margin: 0 auto; padding: 24px; }
div.inner { margin: 0; padding: 24px; }
div.narrow { max-width: 640px; margin: 0 auto; padding: 0; }
div.small { margin: 0 auto; padding: 0 64px; }
div.center { margin: 0 auto; padding: 0; text-align: center; }


/* text */
h2 { margin: 0; padding: 12px 0 0 0; font-size: 2rem; line-height: 1.25; text-align: center; }
h3 { margin: 0; padding: 12px 0 0 0; font-size: 1.5rem; line-height: 1.25; text-align: center; }
h4 { margin: 0; padding: 12px 0 0 0; font-size: 1rem; line-height: 1.25; text-align: center; }
p { margin: 0; padding: 12px; font-size: 1rem; line-height: 1.75; }
p.title { font-size: 1.25rem; line-height: 1.5; font-weight: bold; }
p.kana { padding-top: 6px; text-align: center; }
p.center { text-align: center; }
p.question { margin-top: 24px; }
p.left { width: 45%; padding-right: 24px; float: left; }
p.right { width: 45%; padding-left: 24px; float: right; }
ul.twoflex a.card p.title { padding-top: 0; padding-bottom: 6px; font-size: 1.25rem; line-height: 1.5; font-weight: bold; }
ul.twoflex a.card p.text { padding-top: 0; font-size: 1rem; line-height: 1.75; }

/* thumbnail */
div.thumbnail { margin: 12px; padding: 0; background-repeat: no-repeat; background-position: center center; background-size: cover; }
div.thumbnail div.img { margin: 12px; padding: 0; }


/* twoflex */
ul.twoflex { margin: 0; padding: 0; display: -webkit-flex; display: flex; -webkit-flex-direction: row; flex-direction: row; -webkit-align-items: stretch; align-items: stretch; -webkit-justify-content: flex-start; justify-content: flex-start; flex-wrap: wrap; }
ul.twoflex li { width: 50%; margin: 0; padding: 0; }


/* card */
a.card { margin: 0; padding: 0; color: #333; display: block; }
a.card:visited { color: #333; }
a.card:hover { color: #333; }





/* sp */
@media screen and ( max-width: 640px ) {

br.sp { display: inline; }
header h1 { padding: 24px 72px; }
header nav { display: none; }
article nav { display: none; }
div.outer { padding: 12px 6px; }
div.inner { padding: 12px 6px; }
p { padding: 6px; }
ul.twoflex li { width: 100%; }
ul.fourflex li { width: 50%; }
ul.threeflex li { width: 50%; }
ul.blogflex { -webkit-flex-direction: column; flex-direction: column; }
ul.blogflex li.sub { width: auto; }
ul.blogflex li.main { width: auto; }
ul.reservation { padding: 6px 0 0 0; }
ul.reservation li a { margin: 6px; }
div.keywords { padding: 0; }
div.keywords li { margin: 3px; }
footer div.outer { padding: 8px 6px; }
footer div.inner { padding: 8px 6px; }
footer ul { -webkit-flex-direction: column; flex-direction: column; }
footer li { padding: 6px 0; }
footer p { padding: 6px; }
footer nav div { padding: 6px; }
footer nav ul { padding: 0 6px 6px 6px; -webkit-flex-direction: row; flex-direction: row; -webkit-justify-content: flex-start; justify-content: flex-start; }
footer nav li { width: 50%; }
footer nav li a { font-size: 0.9rem; }
h3 { padding: 12px 0 0 0; }
h4 { padding: 12px 0 12px 0; }
ul.twoflex a.card p.title { padding-top: 6px; }
ul.fourflex a.card p.title { padding-top: 3px; font-size: 1rem; }
div.menu { padding: 6px; }
div.list { padding: 6px; }
div.map { margin: 6px; }
div.categorys { display: none; }
div.menu caption { font-size: 1rem;}
div.menu th { font-size: 0.85rem; }
div.menu td { font-size: 0.85rem; }
div.list th { font-size: 0.85rem; }
div.list td { font-size: 0.85rem; }
div.list a.tel { font-size: 1.25rem; }
div.line { margin: 24px 6px; }
ul.frame { margin: 6px; }
form { margin: 12px 6px 6px 6px; padding: 6px 18px; }
label { padding: 12px 0 6px 0; }
input { padding: 6px 0; }
textarea { padding: 6px 0; }
button { margin: 18px auto 12px auto; }
div.thumbnail { margin: 6px; }
div.thumbnail div.img { margin: 6px; }
div.small { padding: 0; }
}


/***** コンタクトフォーム *****/
.table-contactform7{
  overflow: hidden;
table-layout: fixed;
}
 
.required-contactform7{
  padding: 5px;
  background: #DE8686;
  color: #fff;
  border-radius: 3px;
  margin-right: 3px;
}
 
.unrequired-contactform7{
  padding: 5px;
  background: #BDBDBD;
  color: #fff;
  border-radius: 3px;
  margin-right: 3px;
}
 
.table-contactform7 th{
  font-weight:bold;
}
 
.table-contactform7 input,
.table-contactform7 textarea{
  max-width: 90% !important;
  margin: 5px 10px 10px 5px;
}
 
.address-100 input{
  max-width: 90% !important;
  margin: 5px 10px 10px 5px;
}
 
.message-100 textarea{
  width: 100%;
  margin: 5px 10px 10px 5px;
}
 
@media screen and (min-width: 900px){
  .table-contactform7 th{
    width:28%;
  }
    }
     
@media screen and (max-width: 900px){
.table-contactform7{
  display:block;
}     
       
  .table-contactform7 tbody,
  .table-contactform7 tr{
    display: block;
    width: 100%;
  }
  .table-contactform7 th{
  width:100%;
  display:block;
  margin: 0 auto;
  border:none;
}
.table-contactform7 td{
  display: list-item;
  list-style-type:none;
  margin:0;
  padding:0;
  width: 100%;
  border-top: none !important;
}
}

.movie-wrap {
     position: relative;
     padding-bottom: 56.25%;
     height: 0;
     overflow: hidden;
}
 
.movie-wrap iframe {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
}


@media screen and (min-width: 767px) { /*ウィンドウ幅が767px以上の場合に適用*/

}


@media screen and (max-width: 767px) { /*ウィンドウ幅が最大767pxまでの場合に適用*/

}


@media screen and (max-width: 479px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/

}



